<!DOCTYPE html>
<html>
  <% include header %>
  </head>
  <body>
  	<div id="wrapper">
	  	<% include navbar %>
	  	<div id="background"></div>
		<div class="container col-sm-12 col-md-12 contenedor">
		
			<div class="row" style="text-align:center;">
				<h1><strong><%=subtitle %></strong></h1>
				<h3><%=mensaje %></h3>
			</div>
		    	
		    <% include footer %>
		</div><!-- container -->  
	</div><!-- wrapper -->
    <% include scriptBootstrap %>  
  </body>
</html>