<footer><div class="row" style="margin-top:30px;">
	<div class="col-xs-6 col-sm-3"></div><div class="col-xs-6 col-sm-3"></div>
	<div class="col-xs-6 col-sm-3"></div>
	<div class="col-xs-6 col-sm-3">&copy; CopyRight 2017</div>
	</div>
</footer>