<footer><div class="row" style="margin-top:30px;">
	<div class="col-xs-6 col-sm-1">	</div>
	<div class="col-xs-6 col-sm-4">
		<div class="col-sm-2"><a id="about" href="/about" style="color: black;text-decoration: none;">About</a></div>
		<div class="col-sm-2"><a href="/contact" style="color: black;text-decoration: none;">Contact</a></div>
		<div class="col-sm-3"><a href="/termsUse" style="color: black;text-decoration: none;">Terms of Use</a></div>
		<div class="col-sm-2"><a href="/privacy" style="color: black;text-decoration: none;">Privacy</a></div>
	</div>	
	<div class="col-xs-6 col-sm-2">	</div>
	<div class="col-xs-6 col-sm-2">	</div>
	<div class="col-xs-6 col-sm-3">	</div>
	<div class="col-xs-6 col-sm-3"></div>
	<div class="col-xs-6 col-sm-3" style="text-align:right;">&copy; CopyRight 2017</div>
	</div>
</footer>