<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title><%= title %></title>
<!-- CSS -->
<link rel='stylesheet' href='/css/main.css' />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap/bootstrap-3-0-3.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="/css/bootstrap/bootstrap-3-0-3-theme.min.css">
<!-- Validator -->
<link rel="stylesheet" href="/css/bootstrap/bootstrapValidator.min.css">
<!-- Datepicker -->
<link rel="stylesheet" href="/css/bootstrap/bootstrap-datepicker.min.css">