<!DOCTYPE html>
<html>
  <% include header %>
  <!-- CSS index -->
  <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
  	<div id="wrapper">
	  	<% include navbar %>
	  	<div id="background"></div>
		<div class="container col-sm-12 col-md-12 contenedor">
			 <div class="row" style="text-align:center;padding-top:15px;">
				 <h1>Create your events and party groups</h1>
				 <h3>Share unique experiences</h3>
			 </div>
			 <div class="row info-box-container">
			 	<div class="info-box mod-orange">
			        <article>
			          	<!-- Crea una fiesta en casa y comparte con la gente que conoces sabiendo que van a estar de cine -->
			            <center><img alt="Create your events" class="mod-center mod-margin-bottom" src="/img/calendar.png">
			            <h3 class="info-box-title">
			            	Create your events
			            </h3>
			            <hr class="mod-short mod-white">
			            <p> Create a party at home and share with people you know that it will be great. </p>
			         </article>
        		</div>
        		<div class="info-box mod-orange">
			          <article>
			            <!-- Conoce a los amigos de tus amigos o de tu propia ciudad. Siempre hay algo nuevo que hacer. -->
			            <img alt="Join events" class="mod-center mod-margin-bottom" src="/img/join_events.png">
			            <h3 class="info-box-title">
			            	Join parties
			            </h3>
			            <hr class="mod-short mod-white">
			            <p>	Meet friends of your friends or your city. There's always something new to do. </p>
			          </article>
        		</div>
			 	<div class="info-box mod-orange">
			          <article>
			          	<!-- Conoce a personas increíbles -->
			          	<!-- La gente abres sus hogares y comparten sus vidas en los mejores momentos. Conecta con ellos y aprende cosas nuevas. -->
			            <img alt="Discover amazing people" class="mod-center mod-margin-bottom" src="/img/discover_people.png">
			            <h3 class="info-box-title">
			            	Discover amazing people			              
			            </h3>
			            <hr class="mod-short mod-white">
			            <p> People open their homes and share their lives in the best moments. Connect with them and learn new things. </p>
			          </article>
        		</div>
			 </div>
		     <!--<h1>Crea tus eventos y grupos de fiestas</h1>
		     <h1>Comparte experiencias únicas</h1>-->
		    <% include footer %>
		</div><!-- container -->  
	</div><!-- wrapper -->
    <% include scriptBootstrap %>
  </body>
</html>