<!DOCTYPE html>
<html>
  <% include header %>
  </head>
  <body>
  	<div id="wrapper">  	  
		  <% if (sessionID) { %>
			  <% include navbarLogged %>
		  <% } %>
		  <% if (sessionID=='') { %>
			  <% include navbar %>
		  <% } %>
	  	<div></div>
		<div class="container col-sm-12 col-md-12 contenedor">
		
			<div class="row" style="text-align:center;">
				<h3><strong><%=subtitle %><%=user.local.username %><%=user.fb.firstNameFacebook %><%=user.google.nameGoogle %></strong></h3>
				<div id="user">
				</div>
			</div>
		    	
		    <% include footer %>
		</div><!-- container -->  
	</div><!-- wrapper -->
    <% include scriptBootstrap %>  
  </body>
</html>