<!DOCTYPE html>
<html>
  <% include header %>
  </head>
  <body>
  	<div id="wrapper">
	  	<% include navbar %>
	  	<div id="background"></div>
		<div class="container col-sm-12 col-md-12 contenedor">
			<div class="row" style="text-align:center;">
				<h3><strong><%=title %></strong></h3>
			</div>
			<div class="row">
				Last updated: 9 January 2017
			</div>
			<div class="row" style="text-align:justify;opacity:0.9;">
				<div class="container col-sm-6 col-md-6 contenedor">
					<p><strong>PLEASE READ THESE TERMS OF USE CAREFULLY. 
					BY REGISTERING FOR AN ACCOUNT OR BY ACCESSING OR USING THE SERVICES, 
					YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND ALL TERMS INCORPORATED BY REFERENCE.
					IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT ACCESS OR USE THE SERVICES.</strong></p>
					<p>We reserve the right to make changes or modifications to these Terms at any time and 
					in our sole discretion. If <strong>partyUp</strong> makes changes to these Terms, we will provide notice 
					of such changes, including by revising the date at the top of these Terms. 
					Your continued use of our Services following the posting of changes or modifications 
					will constitute your acceptance of such changes or modifications. Accordingly, 
					you should frequently review these Terms to understand the terms and conditions that 
					apply to your use of the Services.</p>
					<p>
					Please refer to our Privacy for information about how <strong>partyUp</strong> collects, 
					uses and discloses information about our members.</p>
					<p><strong>ELIGIBILITY, REGISTRATION AND ACCOUNT</strong></p>
					<p>You must be at least 16 years old to access or use the Services. By registering to use our 
					Services, you represent that you are at least 16 years old. In order to access certain areas 
					and features of our Services, you will need to register for an account using either your 
					email address or your login credentials from a third-party social media site. If you register 
					with your email address, you agree to create a unique password that you do not use with any other 
					online service. By registering for an account, you further agree to (a) provide accurate, truthful,
					 current and complete information; (b) maintain and promptly update your account information upon 
					 any changes; (c) maintain the security of your account by protecting your password and restricting
					 access to your account; (d) promptly notify <strong>partyUp</strong> if you discover or otherwise 
					 suspect any security breaches related to the Services; and (e) take responsibility for all activities 
					 that occur under your account and accept all risks of any authorized or unauthorized access.</p>
				</div>
			    <div class="container col-sm-6 col-md-6 contenedor">
					<p><strong>THIRD PARTY TERMS</strong></p>
					<p><strong>partyUp</strong> may offer the opportunity to purchase products and services from third parties. 
					You acknowledge that such services are offered and sold to you by one or more third parties. For more 
					information, please refer to the applicable third party's terms of sale and privacy that are presented
					 as part of the checkout process.</p>
					<p><strong>COPYRIGHT AND LIMITED LICENSE</strong></p>
					<p>Unless otherwise indicated, the Services and all content and other materials on the Services, including,
					without limitation, the partyUp logo, and all designs, text, graphics, pictures, videos, information, data, 
					software, sound files and other files, and the selection and arrangement thereof, (collectively, the "<strong>partyUp Materials</strong>") 
					are the proprietary property of partyUp or our licensors or members and international copyright laws.</p>
					<p><strong>REPORTING MISCONDUCT</strong></p>
					<p>If you interact with anyone through our Services who you feel is acting or has acted inappropriately, 
					including but not limited to offensive, violent or sexually inappropriate behavior, who steals from you 
					or engages in any other disturbing conduct, we strongly encourage you to immediately report such person 
					to the appropriate authorities and to us by contacting us using the Contact. Please note that although 
					we encourage you to report misconduct, we are not responsible or liable for our members' actions, and 
					we are not obligated to take any action.</p>
				</div>	
			</div>
		    <% include footer %>
		</div><!-- container -->  
	</div><!-- wrapper -->
    <% include scriptBootstrap %>
  </body>
</html>